/***************************** GLOBAL ELEMENTS *****************************/
* {
  box-sizing: border-box;
}

html, body {
  /*display: flex;
  flex-flow: column;*/
  height: 100%;
  margin: 0;
  font: 16px Arial;  
  background-color: #ffffff;
  margin: 0px;
  /*overflow: hidden;*/
}

.all {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.all .navbar {
  flex: 0 1 auto;
  margin-top: 5px;
}


.all .pageContainer {
  flex: 1 1 auto;
  padding:10px;
}

h3 {
	margin: 0px;
}

input[type=text] {
  border-radius: 3px;
  border: 1px solid transparent;
  /*margin-top: 5px;
  margin-bottom: 5px;*/
  padding: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
  width: 100%;
}

button {
  border: 1px solid;
  border-radius: 3px;
  /*margin-top: 5px;
  margin-bottom: 5px;*/
  padding: 10px;
  font-size: 14px;
  background-color: #f1f1f1;
}

button:hover {
  cursor: pointer;
  /*background-color: #cccccc;*/
}

/***************************** NAVIGATION *****************************/
#collectionPage {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#searcher {
  flex: 0 1 auto;
}

.float-container {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

.float-child {
	flex: 1 0 10%;
	border: 2px solid green;
	margin: 0px;
	overflow: auto;
	background-color: #ffffff;
}

.float-child h3 {
	background-color: #ffffff;
	margin: 0px;
	padding: 10px;
}

.float-child p {
	background-color: #ffffff;
	margin: 0px;
	padding: 10px;
}

.navbar {
    display: flex;
	margin: 0px;
	padding: 0px;
}

#collectionBtn.active  {
  background-color: #4CAF50;
  color: white;
}

#pairBtn.active {
  background-color: #7B2A8D;
  color: white;
}

#settingsBtn.active  {
  background-color: #34A5D5;
  color: white;
}

.hidden { 
	display: none !important; 
}


.navbar button {
	border: 0px solid;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin: 0px;
	width: 100%;
}

.navbar button:hover:not(.active) {
    background: #aaa;
}

/***************************** collection page *****************************/
#searchCollectionDiv {
    display: flex;
}

#searchCollectionDiv input {
    width:100%;
}

#searchCollectionDiv button {
    margin-left: 5px;
}

select {
  border: 1px solid;
  border-radius: 3px;
  /*margin-top: 5px;
  margin-bottom: 5px;*/
  padding: 10px;
  font-size: 14px;
  background-color: #f1f1f1;
}

/* The Modal (background) */
.modal-content label {
  display: block;
  padding: 0px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#saveNewSongBtn {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



#searchResults p:hover {
	background-color: #e9e9e9;
}


/***************************** pairs page *****************************/

.song-field {
	width: 40%;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/***************************** SETTINGS PAGE *****************************/




/***************************** ALERT BOX *****************************/
.alertContainer {
  position: fixed; 
  right: 0;
  bottom: 0;
  z-index: 1; /* Sit on top */
  width: 40%;
  margin: 0px;
}

.alert {
	display: flex;
	justify-content: space-between;
  padding: 15px;
  margin: 0px;
  background-color: #f44336;
  color: white;
  opacity: 0;
  transition: 0.3s;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.alert.success {
	background-color: #04AA6D;
}
.alert.info {
	background-color: #2196F3;
}
.alert.warning {
	background-color: #ff9800;
}

.alert p {
	margin: 0px;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

